.booking-list-design{
    background-color:#e1e7f3;
    margin-top: 100px;
}
.booking-sub-content{
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
}
.book-head{
    text-align: right;
}